.container{
    text-align: center;
    margin: 30px auto;
}

#timer{
    font-size: 35px;
    border: 1px solid #cccccc;
    margin: 30px auto;
    padding: 40px;
    background-color: black;
    color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn{
    width: 100%;
}